template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_log_name": {
            "defaultValue": "log",
            "type": "String"
        },
        "connections_faceapi_name": {
            "defaultValue": "faceapi",
            "type": "String"
        },
        "connections_azureblob_name": {
            "defaultValue": "azureblob",
            "type": "String"
        },
        "connections_faceapi_1_name": {
            "defaultValue": "faceapi-1",
            "type": "String"
        },
        "connections_azureblob_1_name": {
            "defaultValue": "azureblob-1",
            "type": "String"
        },
        "connections_excelonline_name": {
            "defaultValue": "excelonline",
            "type": "String"
        },
        "accounts_facefp_name": {
            "defaultValue": "facefp",
            "type": "String"
        },
        "storageAccounts_storageprojectss_name": {
            "defaultValue": "storageprojectss",
            "type": "String"
        },
        "actionGroups_Application_Insights_Smart_Detection_name": {
            "defaultValue": "Application Insights Smart Detection",
            "type": "String"
        },
        "smartdetectoralertrules_failure_anomalies___logicproject_name": {
            "defaultValue": "failure anomalies - logicproject",
            "type": "String"
        },
        "smartdetectoralertrules_failure_anomalies___logicproject202111242012_name": {
            "defaultValue": "failure anomalies - logicproject202111242012",
            "type": "String"
        },
        "components_logicproject_externalid": {
            "defaultValue": "/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/resourceGroups/pro/providers/microsoft.insights/components/logicproject",
            "type": "String"
        },
        "components_logicproject202111242012_externalid": {
            "defaultValue": "/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/resourceGroups/pro/providers/microsoft.insights/components/logicproject202111242012",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.CognitiveServices/accounts",
            "apiVersion": "2021-10-01",
            "name": "[parameters('accounts_facefp_name')]",
            "location": "eastus",
            "sku": {
                "name": "F0"
            },
            "kind": "Face",
            "identity": {
                "type": "None",
                "userAssignedIdentities": {}
            },
            "properties": {
                "customSubDomainName": "[parameters('accounts_facefp_name')]",
                "networkAcls": {
                    "defaultAction": "Allow",
                    "virtualNetworkRules": [],
                    "ipRules": []
                },
                "publicNetworkAccess": "Enabled"
            }
        },
        {
            "type": "microsoft.insights/actionGroups",
            "apiVersion": "2021-09-01",
            "name": "[parameters('actionGroups_Application_Insights_Smart_Detection_name')]",
            "location": "Global",
            "properties": {
                "groupShortName": "SmartDetect",
                "enabled": true,
                "emailReceivers": [],
                "smsReceivers": [],
                "webhookReceivers": [],
                "eventhubReceivers": [],
                "itsmReceivers": [],
                "azureAppPushReceivers": [],
                "automationRunbookReceivers": [],
                "voiceReceivers": [],
                "logicAppReceivers": [],
                "azureFunctionReceivers": [],
                "armRoleReceivers": [
                    {
                        "name": "Monitoring Contributor",
                        "roleId": "749f88d5-cbae-40b8-bcfc-e573ddc772fa",
                        "useCommonAlertSchema": true
                    },
                    {
                        "name": "Monitoring Reader",
                        "roleId": "43d0d8ad-25c7-4714-9337-8ba259a9fe05",
                        "useCommonAlertSchema": true
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts",
            "apiVersion": "2021-06-01",
            "name": "[parameters('storageAccounts_storageprojectss_name')]",
            "location": "centralindia",
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "kind": "StorageV2",
            "properties": {
                "defaultToOAuthAuthentication": false,
                "allowCrossTenantReplication": true,
                "minimumTlsVersion": "TLS1_2",
                "allowBlobPublicAccess": true,
                "allowSharedKeyAccess": true,
                "networkAcls": {
                    "bypass": "AzureServices",
                    "virtualNetworkRules": [],
                    "ipRules": [],
                    "defaultAction": "Allow"
                },
                "supportsHttpsTrafficOnly": true,
                "encryption": {
                    "services": {
                        "file": {
                            "keyType": "Account",
                            "enabled": true
                        },
                        "blob": {
                            "keyType": "Account",
                            "enabled": true
                        }
                    },
                    "keySource": "Microsoft.Storage"
                },
                "accessTier": "Hot"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureblob_name')]",
            "location": "northcentralus",
            "kind": "V1",
            "properties": {
                "displayName": "connectionfp",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "createdTime": "2021-12-16T15:30:21.8218294Z",
                "changedTime": "2021-12-16T15:30:21.8218294Z",
                "api": {
                    "name": "[parameters('connections_azureblob_name')]",
                    "displayName": "Azure Blob Storage",
                    "description": "Microsoft Azure Storage provides a massively scalable, durable, and highly available storage for data on the cloud, and serves as the data storage solution for modern applications. Connect to Blob Storage to perform various operations such as create, update, get and delete on blobs in your Azure Storage account.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1538/1.0.1538.2619/', parameters('connections_azureblob_name'), '/icon.png')]",
                    "brandColor": "#804998",
                    "id": "[concat('/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/providers/Microsoft.Web/locations/northcentralus/managedApis/', parameters('connections_azureblob_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/resourceGroups/pro/providers/Microsoft.Web/connections/', parameters('connections_azureblob_name'), '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureblob_1_name')]",
            "location": "centralindia",
            "kind": "V1",
            "properties": {
                "displayName": "ins",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "createdTime": "2021-11-26T12:15:37.990597Z",
                "changedTime": "2021-11-26T12:15:37.990597Z",
                "api": {
                    "name": "azureblob",
                    "displayName": "Azure Blob Storage",
                    "description": "Microsoft Azure Storage provides a massively scalable, durable, and highly available storage for data on the cloud, and serves as the data storage solution for modern applications. Connect to Blob Storage to perform various operations such as create, update, get and delete on blobs in your Azure Storage account.",
                    "iconUri": "https://connectoricons-prod.azureedge.net/releases/v1.0.1544/1.0.1544.2640/azureblob/icon.png",
                    "brandColor": "#804998",
                    "id": "/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/providers/Microsoft.Web/locations/centralindia/managedApis/azureblob",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/resourceGroups/pro/providers/Microsoft.Web/connections/', parameters('connections_azureblob_1_name'), '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_excelonline_name')]",
            "location": "northcentralus",
            "kind": "V1",
            "properties": {
                "displayName": "Excel Online (OneDrive)",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "nonSecretParameterValues": {},
                "createdTime": "2021-11-24T16:33:18.1998918Z",
                "changedTime": "2021-12-16T16:02:19.9075364Z",
                "api": {
                    "name": "[parameters('connections_excelonline_name')]",
                    "displayName": "Excel Online (OneDrive)",
                    "description": "Excel Online (OneDrive) connection provider lets you work with Excel files stored in OneDrive. This connection provider only supports personal (MSA) accounts.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1481/1.0.1481.2463/', parameters('connections_excelonline_name'), '/icon.png')]",
                    "brandColor": "#107C41",
                    "id": "[concat('/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/providers/Microsoft.Web/locations/northcentralus/managedApis/', parameters('connections_excelonline_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": [
                    {
                        "requestUri": "[concat('https://management.azure.com:443/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/resourceGroups/pro/providers/Microsoft.Web/connections/', parameters('connections_excelonline_name'), '/extensions/proxy/testconnection?api-version=2016-06-01')]",
                        "method": "get"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_faceapi_name')]",
            "location": "northcentralus",
            "kind": "V1",
            "properties": {
                "displayName": "[concat(parameters('connections_faceapi_name'), 'fp')]",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "createdTime": "2021-12-16T15:56:47.6902889Z",
                "changedTime": "2021-12-16T15:56:47.6902889Z",
                "api": {
                    "name": "[parameters('connections_faceapi_name')]",
                    "displayName": "Face API",
                    "description": "Microsoft Cognitive Services Face API allows you to detect, identify, analyze, organize and tag faces in photos.",
                    "iconUri": "[concat('https://connectoricons-prod.azureedge.net/releases/v1.0.1521/1.0.1521.2572/', parameters('connections_faceapi_name'), '/icon.png')]",
                    "brandColor": "#1267AE",
                    "id": "[concat('/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/providers/Microsoft.Web/locations/northcentralus/managedApis/', parameters('connections_faceapi_name'))]",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_faceapi_1_name')]",
            "location": "centralindia",
            "kind": "V1",
            "properties": {
                "displayName": "faceapi",
                "statuses": [
                    {
                        "status": "Connected"
                    }
                ],
                "customParameterValues": {},
                "createdTime": "2021-11-26T12:18:33.428683Z",
                "changedTime": "2021-11-26T12:18:33.428683Z",
                "api": {
                    "name": "faceapi",
                    "displayName": "Face API",
                    "description": "Microsoft Cognitive Services Face API allows you to detect, identify, analyze, organize and tag faces in photos.",
                    "iconUri": "https://connectoricons-prod.azureedge.net/releases/v1.0.1521/1.0.1521.2572/faceapi/icon.png",
                    "brandColor": "#1267AE",
                    "id": "/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/providers/Microsoft.Web/locations/centralindia/managedApis/faceapi",
                    "type": "Microsoft.Web/locations/managedApis"
                },
                "testLinks": []
            }
        },
        {
            "type": "microsoft.alertsmanagement/smartdetectoralertrules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('smartdetectoralertrules_failure_anomalies___logicproject_name')]",
            "location": "global",
            "dependsOn": [
                "[resourceId('microsoft.insights/actionGroups', parameters('actionGroups_Application_Insights_Smart_Detection_name'))]"
            ],
            "properties": {
                "description": "Failure Anomalies notifies you of an unusual rise in the rate of failed HTTP requests or dependency calls.",
                "state": "Enabled",
                "severity": "Sev3",
                "frequency": "PT1M",
                "detector": {
                    "id": "FailureAnomaliesDetector"
                },
                "scope": [
                    "[parameters('components_logicproject_externalid')]"
                ],
                "actionGroups": {
                    "groupIds": [
                        "[resourceId('microsoft.insights/actionGroups', parameters('actionGroups_Application_Insights_Smart_Detection_name'))]"
                    ]
                }
            }
        },
        {
            "type": "microsoft.alertsmanagement/smartdetectoralertrules",
            "apiVersion": "2021-04-01",
            "name": "[parameters('smartdetectoralertrules_failure_anomalies___logicproject202111242012_name')]",
            "location": "global",
            "dependsOn": [
                "[resourceId('microsoft.insights/actionGroups', parameters('actionGroups_Application_Insights_Smart_Detection_name'))]"
            ],
            "properties": {
                "description": "Failure Anomalies notifies you of an unusual rise in the rate of failed HTTP requests or dependency calls.",
                "state": "Enabled",
                "severity": "Sev3",
                "frequency": "PT1M",
                "detector": {
                    "id": "FailureAnomaliesDetector"
                },
                "scope": [
                    "[parameters('components_logicproject202111242012_externalid')]"
                ],
                "actionGroups": {
                    "groupIds": [
                        "[resourceId('microsoft.insights/actionGroups', parameters('actionGroups_Application_Insights_Smart_Detection_name'))]"
                    ]
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_storageprojectss_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageprojectss_name'))]"
            ],
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "properties": {
                "changeFeed": {
                    "enabled": false
                },
                "restorePolicy": {
                    "enabled": false
                },
                "containerDeleteRetentionPolicy": {
                    "enabled": true,
                    "days": 7
                },
                "cors": {
                    "corsRules": []
                },
                "deleteRetentionPolicy": {
                    "enabled": true,
                    "days": 7
                },
                "isVersioningEnabled": false
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/fileServices",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_storageprojectss_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageprojectss_name'))]"
            ],
            "sku": {
                "name": "Standard_RAGRS",
                "tier": "Standard"
            },
            "properties": {
                "protocolSettings": {
                    "smb": {}
                },
                "cors": {
                    "corsRules": []
                },
                "shareDeleteRetentionPolicy": {
                    "enabled": true,
                    "days": 7
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/queueServices",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_storageprojectss_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageprojectss_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/tableServices",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_storageprojectss_name'), '/default')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageprojectss_name'))]"
            ],
            "properties": {
                "cors": {
                    "corsRules": []
                }
            }
        },
        {
            "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
            "apiVersion": "2021-06-01",
            "name": "[concat(parameters('storageAccounts_storageprojectss_name'), '/default/containerproject')]",
            "dependsOn": [
                "[resourceId('Microsoft.Storage/storageAccounts/blobServices', parameters('storageAccounts_storageprojectss_name'), 'default')]",
                "[resourceId('Microsoft.Storage/storageAccounts', parameters('storageAccounts_storageprojectss_name'))]"
            ],
            "properties": {
                "immutableStorageWithVersioning": {
                    "enabled": false
                },
                "defaultEncryptionScope": "$account-encryption-key",
                "denyEncryptionScopeOverride": false,
                "publicAccess": "Container"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_log_name')]",
            "location": "northcentralus",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_excelonline_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_faceapi_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_blob_is_added_or_modified_(properties_only)_(V2)": {
                            "recurrence": {
                                "frequency": "Second",
                                "interval": 5
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Second",
                                "interval": 5
                            },
                            "splitOn": "@triggerBody()",
                            "metadata": {
                                "JTJmY29udGFpbmVycHJvamVjdA==": "/containerproject"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/triggers/batch/onupdatedfile",
                                "queries": {
                                    "checkBothCreatedAndModifiedDateTime": false,
                                    "folderId": "JTJmY29udGFpbmVycHJvamVjdA==",
                                    "maxFileCount": 1
                                }
                            }
                        }
                    },
                    "actions": {
                        "Detect_faces": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "url": "https://storageprojectss.blob.core.windows.net@{triggerBody()?['Path']}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['faceapi']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/face/v1.0/detect",
                                "queries": {
                                    "returnFaceAttributes": "age,gender,headPose,smile,facialHair,glasses",
                                    "returnFaceId": "true",
                                    "returnFaceLandmarks": "true"
                                }
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Detect_faces')",
                            "actions": {
                                "Add_a_row_into_a_table": {
                                    "runAfter": {},
                                    "metadata": {
                                        "5D6963E9F54FF78C!115": "/Documents/Book.xlsx"
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "AGE": "@{items('For_each')?['faceAttributes']?['age']}",
                                            "BEARD": "@{items('For_each')?['faceAttributes']?['facialHair']?['beard']}",
                                            "Face_Id": "@items('For_each')?['faceId']",
                                            "GENDER": "@items('For_each')?['faceAttributes']?['gender']",
                                            "NAME": "@triggerBody()?['DisplayName']",
                                            "SMILE": "@{items('For_each')?['faceAttributes']?['smile']}",
                                            "Timestamp": "@triggerBody()?['LastModified']"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['excelonline']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/codeless/v1.2/drives/me/items/@{encodeURIComponent('5D6963E9F54FF78C!115')}/workbook/tables/@{encodeURIComponent('{F79E9672-8559-4A92-82A9-EA6ECF8A0DFA}')}/rows",
                                        "queries": {
                                            "source": "me"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Detect_faces": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                                "connectionName": "azureblob",
                                "id": "/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/providers/Microsoft.Web/locations/northcentralus/managedApis/azureblob"
                            },
                            "excelonline": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_excelonline_name'))]",
                                "connectionName": "excelonline",
                                "id": "/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/providers/Microsoft.Web/locations/northcentralus/managedApis/excelonline"
                            },
                            "faceapi": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_faceapi_name'))]",
                                "connectionName": "faceapi",
                                "id": "/subscriptions/f64e882c-9323-4d32-9d3a-11113551a569/providers/Microsoft.Web/locations/northcentralus/managedApis/faceapi"
                            }
                        }
                    }
                }
            }
        }
    ]
}